<div id="table_database_settings_drawer" class="drawer">
    <div class="drawer-toggle">
        <div id="table_drawer_icon" class="drawer-icon fa-solid fa-fw closedIcon fa-bars-progress interactable" title="이벤트 테이블" data-i18n="[title]Event table" tabindex="0"></div>
    </div>
    <div id="table_drawer_content" class="drawer-content closedDrawer">
        <!-- 인터페이스 전환 버튼 -->
        <div id="table_button_container" class="wide100p flex-container" style="display: flex; flex-grow: 1; justify-content: space-between">
            <div style="display: flex; flex-grow: 1; gap: 5px;">
                <button id="database_button" class="menu_button_icon menu_button interactable"><i class="fa-solid fa-database"></i><b data-i18n="Data">데이터</b></button>
                <button id="editor_button" class="menu_button_icon menu_button interactable"><i class="fa-solid fa-pen-ruler"></i><b data-i18n="Template">템플릿</b></button>
                <!--                <button id="nodes_button" class="menu_button_icon menu_button interactable"><i class="fa-brands fa-hubspot"></i><b>流程</b></button>-->
            </div>
            <button id="setting_button" class="menu_button_icon menu_button interactable" style="position: relative;">
                <i class="fa-solid fa-gears"></i>
                <b data-i18n="Settings">설정</b>
                <span id="setting_button_new_tag" class="new-version-tag" style="display: none; position: absolute; top: -5px; right: -5px; background: #ff4444; color: white; font-size: 10px; padding: 2px 4px; border-radius: 8px; font-weight: bold;">New</span>
            </button>
        </div>
        <!-- 채팅 표 기능 패널 로딩 중 -->
        <div id="app_header_table_container" style="max-height: 100%; overflow-y: auto; flex-grow: 1;">

        </div>
    </div>
</div>

<style>

    /* 버튼 바가 스크롤 시 가려지지 않도록 하기 */
    #app_header_table_container {
        overflow-y: auto;
        flex-grow: 1;
    }
</style>
